<div class="row">
    <div class="col col-sm-10 col-md-8">
     <ul class="nav nav-tabs"> <!--routerLinkActive mira el path y nos sirve para que nos muestra la ruta -->
    <li class="nav-item"  [routerLink]="['/']" ><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"  class="nav-link" >Home</a></li>
    <li class="nav-item" [routerLink]="['/servers']"><a routerLinkActive="active" class="nav-link" >Servers</a></li>
    <li class="nav-item" [routerLink]="['/users']"><a routerLinkActive="active" class="nav-link" >Users</a></li>
    </ul>
    </div>
    </div>
